<%
#--
#   Copyright (C) 2009 Tor Arne Vestbø <torarnv@gmail.com>
#   Copyright (C) 2009 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2009 Marius Mathiesen <marius.mathiesen@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<%= breadcrumbs_from(Breadcrumb::UserEdit.new(@user)) -%>

<h2 class="content-header"><%= t("views.users.edit_title") %></h2>

<%= error_messages_for :user -%>
<% form_for @user, :url => user_path, :html => {:multipart => true} do |f| -%>
<fieldset>
  <li>
    <%= f.label :fullname, t("views.users.realname") -%>
    <div><%= f.text_field :fullname -%></div>
  </li>
  <li>
    <%= f.label :email, t(:email, :scope => 'views.users') -%>
    <div><%= f.text_field :email -%></div>
  </li>
  <li>
    <%= f.label :public_email, t(:public_email, :scope => 'activerecord.attributes.user') -%>
   <div><%= f.check_box :public_email -%><span class="hint"> (The email will be encoded to prevent scraping)</span></div>
  </li>

  <li>
    <%= f.label :url, t("views.users.url") -%>
    <div><%= f.text_field :url -%></div>
  </li>

  <li>
    <%= f.label :url, t("views.users.openid") -%>
    <div><%= f.text_field :identity_url -%></div>
  </li>
  
  <li>
    <%= f.label :avatar, t('views.users.avatar') %>
  	<div><%= avatar(@user, :version => :thumb, :size => '24') %>
    <%- if @user.avatar? -%>
      <%= button_to_function("Delete current profile image", "if (confirm('Are you sure you want to delete your profile image?')) $('#delete_avatar').submit()") %> 
    <%- end -%>
	<span class="hint"> If you do not add an image, Gitorious will try to use your gravatar </span>
	</div>
  </li>

	<li>
		<label>Upload avatar</label>
		<div><%= f.file_field :avatar %></div>
	</li>
	
	<li>
    	<%= f.label :wants_email_notifications, t("views.users.wants_email_notifications") %>
    	<div><%= f.check_box :wants_email_notifications %><span class="hint"> <%= t("views.users.describe_email_notifications") -%></span></div>
	</li>
  <li>
    <%= f.label :default_favorite_notifications -%>
    <div><%= f.check_box :default_favorite_notifications -%><span class="hint"> <%= t("views.users.describe_default_favorite_notifications", :url => favorites_path) -%></span></div>
  </li>
  </fieldset>
<fieldset class="submit">
  <%= f.submit t("views.common.save") -%>
</fieldset>
<% end -%>

<%- form_for(@user, :url => avatar_user_path, :html => {:id => "delete_avatar", :method => :delete}) do |f| -%>
  
<%- end -%>
