<%
#--
#   Copyright (C) 2011-2012 Gitorious AS
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<div class="with_divider">
  <div id="left">
    <div class="user-profile not-dash">
      <%= link_to(avatar(@user, { :size => 64 }), @user, {:class => "avatar"}) %>
      <div class="profile-data">
        <h1>
          ~<%= link_to h(@user.login), @user -%>
        </h1>
        <ul class="details">
          <% unless @user.fullname.blank? %>
            <li>
              <%= h(@user.fullname) -%>
            </li><% end %><% if @user.public_email? -%>
            <li class="email">
              <%= mail_to(@user.email, mangled_mail(@user.email), :encode => "javascript") -%>
            </li><% end -%><% if @user.url %>
            <li>
              <a rel="me" href="<%=h @user.url -%>"><%=h @user.url -%></a>
            </li><% end -%>
          <li>
            <%= t("views.users.member_for") %> <%= time_ago_in_words(@user.created_at) %>
          </li>
        </ul>
      </div>

      <ul class="buttons">
        <% if is_current_user?(@user) -%>
          <li class="hint"><strong>This is your public profile. </strong><br />(<%= link_to "Go to your dashboard", root_path -%>)</li>
        <% end -%>
        <% if !is_current_user?(@user) -%>
          <li class="new_email">
            <%= link_button_link_to(t("views.users.send_user_msg", :username=>h(@user.login)),
                                    new_message_path(:to => @user.login), :class => "new_email") -%>
          </li>
        <% end -%>
      </ul>
      <div class="clear"></div>
    </div>

    <div class="content-container w-510">
      <h2 class="activities">
        <% if showing_newsfeed? %> Your news feed <% else %> <%= t("views.site.dashboard.activities") -%> <% end %> <%= feed_icon @atom_auto_discovery_url -%> <% if is_current_user?(@user) -%> <small>(<%= newsfeed_or_user_events_link -%>)</small> <% end -%>
      </h2><% if @events.empty? -%>
        <p class="hint">
          <%= personified(@user, "You have", "#{@user.title} has") -%> no news.
      </p><% else -%>
        <div id="user_events" class="w-510">
          <%= render :partial => "events/events", :locals => { :events => @events, :container_css_class => "w-510" } -%>
        </div><% end -%>
    </div>
  </div>
  <div id="right" class="w-390">
    <% pull_box(t("views.site.dashboard.projects"), :class => "your-projects pull-box-390") do -%>
      <ul class="with_icons">
        <% @projects.each do |project| -%>
          <li class="project">
            <%= link_to h(project.title), project -%>
            <% if favorited?(project) %>
              <%= image_tag("silk/star.png", :title => "favorited") %>
            <% end %>
          </li>
        <% end -%>
      </ul><% if is_current_user?(@user) -%>
        <div class="pull-box-links">
          <%= link_button_link_to(t("views.projects.create_new"), new_project_path, {
                                    :id => "new-project-button"}) %>
        </div><% end -%><% end -%><% pull_box(t("views.site.dashboard.repositories"), :class => "your-repositories pull-box-390") do -%><% if @repositories.blank? -%><% if is_current_user?(@user) -%>You currently do not have any repository clones. You can clone a repository you wish to contribute to by going to a repository overview page and clicking the "Clone repository" button in the repository information box.<% else -%>
          <p class="hint">
            <%=h @user.title -%> currently does not have any repository clones.
          </p><% end -%><% else -%>
        <ul class="with_icons">
          <% @repositories.each do |repo| -%>
            <li class="repository">
              <%= link_to h(repo.url_path),
                  repo_owner_path(repo, [repo.project, repo]) -%>
            </li><% end -%>
        </ul><% end -%><% end %><% pull_box("#{h @user.title} is watching", :class => "your-favorites favorite pull-box-390") do %>
      <div class="filters">
        <ul>
          <li>
            <strong>Sort by:</strong>
          </li><% if is_current_user?(@user) -%>
            <li>
              <a class="foreign" href="#not-mine">Not yours</a>
            </li>
            <li>
              <a class="mine" href="#mine">Yours</a>
            </li><% end -%>
          <li>
            <a href="#merge-requests" class="merge-requests">Merge requests</a>
          </li>
          <li>
            <a href="#repos" class="repositories">Repositories</a>
          </li>
          <li>
            <a href="#all" class="all">All</a>
          </li>
        </ul>
      </div>
      <ul class="with_icons">
        <% @favorites.reject { |favorite| favorite.watchable.nil? }.each do |favorite| %>
          <li class="<%= css_classes_for(favorite.watchable) -%>">
            <%= link_to_watchable(favorite.watchable) -%>
          </li>
        <% end %>
        <% if @favorites.blank? -%>
          <li style="list-style: none">
            <p class="hint">
              <%= no_watchings_notice_for(@user) -%>
            </p>
          </li>
        <% end -%>
      </ul><% end %><% pull_box("Team memberships", :class => "teams pull-box-390") do -%>
      <ul>
        <% Team.for_user(@user).each do |group| -%>
          <li style="clear:left">
            <span style="float:left; padding: 2px 10px 2px 2px"><%= image_tag(group.avatar.url(:thumb), :alt => "Avatar", :width => "16") %></span> <%= link_to h(group.name), group_path(group) -%>
          </li><% end -%>
      </ul><% end unless Team.for_user(@user).blank? -%>
  </div>
  <div class="clear"></div>
</div>
